<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content="COULIBALY"/>
    <link rel="icon" href="https://img.icons8.com/metro/26/000000/under-computer.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>DevOpsEMI-BravoAlpha</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/starter-template/">

    <!-- Bootstrap core CSS -->
    <link th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <!-- mon css COULIBALY -->
     <link th:href="@{assets/css/main.css}" rel="stylesheet">
     

  </head>

  <body style="background-color: #0d5b80">

    <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: #0d5b80">
      <a class="navbar-brand"  style="color: black"><b> BravoAlpha</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" th:href="@{index}" style="text-align:solid">Accueil <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{archives}">Archives</a>
          </li>
        </ul>
        
      </div>
    </nav>

    <main role="main" class="container" style="margin-top:10%;">
      <div class=" text-center" style="font-weight:bold;font-family: Verdana;font-size:xx-large;color:">
        <img th:src="@{assets/images/logo.png}" style="height:100%;">DevOpsEMI
        <div><br></div>
      </div>
      <div style="background-color: #e1d1fc">
      <form>
                <center>
                  <div class="form-group">
                  <select class="mdb-select md-form ">
                        <option value="" disabled selected>Choisir seulement pour un type de test donné</option>
                        <option value="1">tous types de tests </option>
                        <option value="2">Tests de programmes</option>
                        <option value="3">Tests de configurations</option>
                </select>
                </div>
                </center>
                 <center>
                       <div class="form-group" style="background-color:green;color: white">
                        <label for="programme"><h5>Centre d'Archives du laboratoire</h5></label>
                      </div>
                </center>
                <div class="form-group">
                <select class="mdb-select md-form ">
                        <option value="" disabled selected>Choisir seulement pour un produit donné</option>
                        <option value="1">tous les produits</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                </select>
                <select class="mdb-select md-form ">
                        <option value="" disabled selected>Choisir seulement pour une configuration donnée</option>
                        <option value="1">toutes les configurations  </option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                </select>
                <select class="mdb-select md-form ">
                        <option value="" disabled selected>Choisir seulement pour un un utilisateur donné</option>
                        <option value="1">touts les utilisateurs  </option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                        <option value="2">Option 2</option>
                        <option value="3">Option 3</option>
                </select>
              </div>
               <div class="text-center">
                 <input type="submit" value="Afficher"  style="border-radius: 15px;background-color:green;color: white; width:15%">
               </div>
               </div>
               </form>
              
            </div>
            <br>
    
<div id="sort1" class="ui cards" data-sortable=".card" style="background-color: #0d5b80">
<div class="row">
  <br>
  <div class="col-md-3">
    
        <div  style="background-color: #0d5b80; border:none">
          <div class="card" style="width: 13rem;">
            <form>
              <i class="fa fa-envelope"></i> <input type="email" name="" placeholder="saisir un mail">
            <input type="submit" name="modifier" value="Envoyer">
          </form>
            <div class="card-body text-center">
              <h6 class="card-title">[Nom du programme]</h6>
              <p>fait par:[auteur]</p>
              <p>date:[12/11/2018]</p>
              <a  style="color:black;"> <i class="fa fa-download"></i>télécharger</a>
              <p class="card-text">[description du programme]</p>
              <a  class="btn btn-primary">[produit concerné]</a>
              <div class="form-control"><a  class="btn btn-primary">[configuration]</a></div>
            </div>
        </div>
        </div>

  </div>

  <br>
  
  <div class="col-md-3">
    
        <div  style="background-color: #0d5b80; border:none">
          <div class="card" style="width: 13rem;">
            <form>
              <i class="fa fa-envelope"></i> <input type="email" name="" placeholder="saisir un mail">
            <input type="submit" name="modifier" value="Envoyer">
          </form>
            <div class="card-body text-center">
              <h6 class="card-title">[Nom du programme]</h6>
              <p>fait par:[auteur]</p>
              <p>date:[12/11/2018]</p>
              <a  style="color:black;"> <i class="fa fa-download"></i>télécharger</a>
              <p class="card-text">[description du programme]</p>
              <a  class="btn btn-primary">[produit concerné]</a>
              <div class="form-control"><a  class="btn btn-primary">[configuration]</a></div>
            </div>
        </div>
        </div>

  </div>
  <br>
  <div class="col-md-3">
    
        <div  style="background-color: #0d5b80; border:none">
          <div class="card" style="width: 13rem;">
            <form>
              <i class="fa fa-envelope"></i> <input type="email" name="" placeholder="saisir un mail">
            <input type="submit" name="modifier" value="Envoyer">
          </form>
            <div class="card-body text-center">
              <h6 class="card-title">[Nom du programme]</h6>
              <p>fait par:[auteur]</p>
              <p>date:[12/11/2018]</p>
              <a  style="color:black;"> <i class="fa fa-download"></i>télécharger</a>
              <p class="card-text">[description du programme]</p>
              <a  class="btn btn-primary">[produit concerné]</a>
              <div class="form-control"><a  class="btn btn-primary">[configuration]</a></div>
            </div>
        </div>
        </div>

  </div>
  <br>
  <br>
  
  <div class="col-md-3">
    
        <div  style="background-color: #0d5b80; border:none">
          <div class="card" style="width: 13rem;">
            <form>
              <i class="fa fa-envelope"></i> <input type="email" name="" placeholder="saisir un mail">
            <input type="submit" name="modifier" value="Envoyer">
          </form>
            <div class="card-body text-center">
              <h6 class="card-title">[Nom du programme]</h6>
              <p>fait par:[auteur]</p>
              <p>date:[12/11/2018]</p>
              <a  style="color:black;"> <i class="fa fa-download"></i>télécharger</a>
              <p class="card-text">[description du programme]</p>
              <a  class="btn btn-primary">[produit concerné]</a>
              <div class="form-control"><a href="#" class="btn btn-primary">[configuration]</a></div>
            </div>
        </div>
        </div>

  </div>
</div>
</div>
<br>
</main>
 <!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" th:src="@{assets/js/vendor/monscript.js}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script th:src="@{assets/js/vendor/popper.min.js}"></script>
    <script th:src="@{assets/js/vendor/bootstrap.min.js}"></script>
  </body>
</html>
